/* Fonts */
body{
	font-family: "candara light";
	background-color: rgb(238, 238, 238);
}
*{
	padding: 0;
}
/* CSS Variable */
:root {
	--text-color: rgb(220,220,220);
	--amazon-text: rgb(240, 136, 4);
	--background-color: rgb(10,9,13);
	--font: font: "candara light";
	--hover-color: ;
}
/* container element */
.container-fluid{
	min-height: 100vh;
	padding-left: 0px;
	padding-right: 0px;
}
/* Head Element */
header{
	height: 75vh;
}
.container-fluid{
	display: flex;
	flex-direction: column;
}
.header-image{
	height: 72.2vh;
	background-image: url(../images/HeaderBG.png);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0% 0%,0% 89.75%, 46.35% 89.75%, 50% 100%, 53.64% 89.75%, 100% 89.75%, 100% 0%);
}
.header-top{
	height: 25%;
	width: 100%;
	background-color: var(--background-color);
}
.header-top h1{
	font-family: "candara light";
	font-size: 95px;
	padding-top: 0.7%;
	color: var(--text-color);
	text-align: center;
	text-transform: uppercase;
}
#header-container{
	height: 13vh;
	width: 100%;
}
/* Latest Release (Styling and Text) */
.latest-release{
	height: 50vh;
	width: 25vw;
}
.latest{
	width: 26%;
	position: absolute;
	left: 19.65%;
	top: 20%;
	
}
.latest img{
	height: 70vh;
}
.latest-text{
	height: 35%;
	width: 25%;
	position: absolute;
	top: 37%;
	right: 19.8%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.latest-text h1{
	color: var(--text-color);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}
.latest-box{
	height: 100%;
	width: 100%;
	background-color: rgba(220, 220, 220, 0.5);
}
.latest-text a{
	color: var(--amazon-text);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.8em;
}
.latest-text a:hover{
	color: black;
}
/* Nav Element */
nav{
	z-index: 10000;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	margin-bottom: -20px;
}
nav ul{
	width: 40vw;
	margin-top: 2%;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav li{
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.header figure{
	position: absolute;
	top: 10px;
}
/* Nav text styling */
nav ul li a{
	font: var(--font);
	font-size: 46px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--text-color);
}
nav ul li a:hover{
	color: var(--hover-color);
	text-decoration: none;
}
.triangle{
  width: 0; 
  height: 0; 
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 70px solid var(--background-color);
  z-index: 1000;
}
/* Text Styling */

/* Main Element */
main{
	height: auto;
}
/* Main Text styling */
figcaption{
	font-size: 47px;
	color: var(--text-color);
	background-color: var(--background-color);
	text-align: center;
	margin-top: 1%;
}
/* Book Element */
figure{
	height: 100%;
	padding: 10px;
}
figure img{
	height: 100%;
	width: 100%;
}
figure:hover{
	transform: scale(1.1);
	transition: 1s;
	z-index: 1;
}
main .container-fluid{
	padding: 3%;
}
/* Footer Element */
footer{
	height: 706px;
	width: 100vw;
	position: relative;
	text-align: center; 
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/FooterBGs.png);
}
footer div{
	width: 100vw;
	height: 75px;
	position: absolute;
	bottom: 0;
}
/* Footer text styling */ 
footer p{
	color: orange;
}