/* container element */
.container-fluid{
	min-height: 100vh;
	padding-left: 0px;
	padding-right: 0px;
}
/* Fonts */

/* Head Element */
header .col{
	height: 200px;
	background-color: black;
}
.header-top{
	height: 80px;
	width: 100%;
	background-color: black;
}
.header-top h1{
	padding-top: 0.7%;
	color: white;
	text-align: center;
}
/* Nav Element */

/* Text Styling */

/* Main Element */
.spam{
	height: 1000px;
	background-color: black;
}
/* Main Text styling */
figcaption{
	text-align: center;
}
/* Book Element */
figure img{
	height: 100%;
	width: 100%;
}
.w-100{
	height: 50px;
}
main .container-fluid{
	padding: 3%;
}
/* Footer Element */

/* Footer Text styling */
footer .col{
	height: 10%;
	width: 100%;
	background-color: orange;
	text-align: center;
}