/* CSS Variable */

:root {
	--light-color: rgb(220,220,220);
	--amazon-text: rgb(240,136,4);
	--dark-color: rgb(10,9,13);
	--dark-color-hover: rgb(59, 57, 66);
	--font-light: "candara light";
	--input-background: rgb(238, 238, 238);
}

body{
	font-family: "candara light";
	background-color: rgb(238, 238, 238);
	overflow-x: hidden;
	margin: 0;
}

.container{
	width: 100vw;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* ----- Header ----- */

header{
	width: 100vw;
	background: var(--dark-color);
	background: linear-gradient(var(--dark-color) 0%, rgba(10,9,13,1) 50%, rgba(220,220,220,0) 50%, rgba(220,220,220,0) 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}

.headerTop{
	height: 190px;
	z-index: 5;
}

header h1{
	height: 130px;
	line-height: 130px;
	color: var(--light-color);
	background-color: var(--dark-color);
	font-family: var(--font-light);
	font-size: 70px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin: 0;
	display: block;
}

.headerBG{
	width: 100vw;
	height: 650px;
	background-image: url(../images/HeaderBG.png);
	clip-path: polygon(0% 0%, 0% 85%, 45% 85%, 50% 95%, 55% 85%, 100% 85%, 100% 0%, 55% 0%, 50% 10%, 45% 0%);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.gradient{
	width: 100vw;
	height: 100%;
	background: var(--dark-color);
	background: linear-gradient(90deg, rgba(10,9,13,1) 0%, rgba(10,9,13,1) 57%, rgba(10,9,13,0.55) 88%, rgba(10,9,13,0.2) 100%);
	opacity: 0.87;
	position: absolute;
	top: 0;
	left: 0;
}

svg{
	
}

polygon{
	fill: rgba(250,100,100,0.5);
}

/* ----- News Letter CSS ----- */

#mc_embed_signup{
	
}

#mc_embed_signup, #mc_embed_signup label, #mc_embed_signup input.email, #mc_embed_signup .button{
	font-family: var(--font-light), sans-serif !important;
	letter-spacing: 2px !important;
}

#mc_embed_signup{
	font-size: 14px;
	width: 100%;
	margin-top: 100px;
	z-index: 1;
}

#mc_embed_signup label{
	font-size: 30px !important;
	color: var(--light-color) !important;
}

#mc_embed_signup input.email, #mc_embed_signup .button{
	border-radius: 2px !important;
}

#mc_embed_signup .button{
	font-size: 14px !important;
	text-transform: uppercase;
	letter-spacing: 2px !important;
}

/* ----- Nav ----- */

nav{
	height: 60px;
	width: 100vw;
	background-color: var(--dark-color);
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 20;
}

nav ul{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav li{
	width: 180px;
	list-style-type: none;
}

nav ul li{
	font-size: 20px;
	display: flex;
	flex-direction: column;
	line-height: 60px;
}

nav ul li a{
	width: 100%;
	color: var(--light-color);
	background-color: var(--dark-color);
	font: var(--font-light);
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
}

nav ul li a:hover{
	color: var(--hover-color);
	background-color: rgb(220,220,220);
	text-decoration: none;
}

.dropdown{
	display: none;
	z-index: 10;
	flex: 1;
}

.dropdown li a{
	  font-size: 16px;
    border-top: solid 1px  rgb(220,220,220);
}

nav ul li:hover .dropdown{
	display: block;
}

.fas{
	display: none;
	position: absolute;
}

nav ul li a.active{
	background-color: rgb(55,54,57);
}
/* ----- Contact ----- */
.contact{
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.contact p{
	color: var(--dark-color);
	font-size: var(--font-size);
}
.contact h1{
	color: var(--dark-color);
	text-transform: uppercase;
	font-size: 50px;
}
.contact h1, p{
	text-align: center;
}
.contact form{
	display: flex;
	flex-direction: column;
}
.contact label{
	margin-top: 20px;
	margin-bottom: 5px; 
	text-transform: uppercase;
}
.contact input[type="text"], input[type="email"], textarea{
	background-color: var(--input-background);
	border-radius: 5px;
	font-size: 15px;
	box-sizing: border-box;
	padding: 0 10px;
}
.contact input[type="text"], input[type="email"]{
	border: 1px solid rgb(169, 169, 169);
	height: 30px;
}
.contact textarea{
	padding-top: 10px;
}
/* ----- About me / Books ----- */
.content{
	width: 1200px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.content h1{
	font: var(--font-light);
	font-size: 50px;
	text-align: center;
	color: var(--dark-color);
	text-transform: uppercase;
}
.content p{
	font-size: 20px;
	color: var(--dark-color);
	padding: 0;
}
.about-me p:first-child{
	margin-top: 0px;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
}
.about-me{
	width: 450px;
	padding: 25px;
}
.content img{
	max-height: 500px;
	max-width: 500px;
	padding: 25px;
}
.content iframe, table{
	padding: 20px;
	margin: 20px;
}
.content table{
	max-width: 700px;
}
.content .right{
	text-align: right;
	padding-right: 2px;
	width: 200px;
	vertical-align: top;
	color: var(--dark-color);
}
.content th{
	font-size: 20px;
	text-transform: uppercase;
	width: 50px;
}
.content td{
	font-size: 16px;
}
.first{
	font-weight: bold;
	vertical-align: top;
}
iframe{
	width: 302.4px;
	height: 495px;

}
/* ----- Sitemap -----*/
.sitemap a{
	font-family: candara light;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 40px;
	color: var(--dark-color);
}
.sitemap a:hover{
	color: var(--dark-color-hover);
}
.sitemap li{
	padding: 5px;
}
ul{
	list-style: none;
}
/* ----- Main ----- */

main{
	min-height: 500px;
	width: 100%;
	background-color: rgb(238,238,238);
	padding: 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
}

figure{
	width: 30%;
	align-items: center;
	height: auto;
	margin: 25px 0;
	padding: 20px;
	justify-content: center;
	box-sizing: border-box;
}
figure a{
	text-decoration: none;
}
figure:hover{
	transform: scale(1.1);
	transition: 1s;
	z-index: 1;
}

figure img{
	width: 100%;
}

figcaption{
	height: 80px;
	width: 100%;
	font-size: 30px;
	color: var(--light-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--dark-color);
}

#index main{
	padding: 0 15%;
}

/* ----- Footer ----- */

footer{
	height: 500px;
	width: 100vw;
	text-align: center; 
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/FooterBGs.png);
	position: relative;
}

footer div{
	width: 100vw;
	height: 75px;
	position: absolute;
	bottom: 0;
}

footer p{
	color: var(--light-color);
	font-size: 20px;
	letter-spacing: 3px;
}

footer a{
	color: var(--light-color);
	font-size: 18px;
	letter-spacing: 2px;
	text-decoration: none;
	position: absolute;
	right: 60px;
	bottom: 32px;
}

footer a:hover, footer a:active{
	color: rgb(240,136,4);
}

/* Cookies */

.cookie-bar{
	width: 100vw;
	height: 135px;
	color: var(--light-color);
	background: var(--dark-color);
	font-size: 0.8em;
	text-align: center;
	padding: 10px;
	bottom: 0;
	position: fixed;
	box-sizing: border-box;
	z-index: 5;
}	

.cookie-bar a{
	width: 130px;
	height: 30px;
	line-height: 30px;
	color: var(--dark-color);
	background-color: var(--light-color);
	border-radius: 2px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 20px auto 0;
	display: block;
}

.cookie-bar a:hover {
	color: var(--light-color);
	background-color: rgba(220,220,220,0.3);
	cursor: pointer;
}

/* --- Media queries --- */

@media screen and (max-width: 1750px){
	#index main{
		padding: 0 5%;
	}
}

@media screen and (max-width: 1400px){
	#index main{
		padding: 20px;
	}
}

@media screen and (max-width: 1200px){
	figure{
		width: 40%;
	}
	
	.headerBG{
		clip-path: polygon(0% 0%, 0% 85%, 43% 85%, 50% 95%, 57% 85%, 100% 85%, 100% 0%, 57% 0%, 50% 10%, 43% 0%);
	}
}

@media screen and (max-width: 1100px){
	.about-me{
		width: auto;
		height: 400px;
	}
	.content img{
		height: 400px;
		width: 400px;
	}
	.row{
		display: flex;
		flex-direction: row;
		justify-content: unset;
	}
}

@media screen and (max-width: 1000px){
	.content iframe{
		width: 336px;
		height: 550px;
	}
}

@media screen and (max-width: 920px){
	.content{
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.about-me{
		width: 500px;
		height: auto;
		padding: 10px;
		box-sizing: border-box;
	}
	.content img{
		width: 100%;
		height: 100%;
		padding: 0;
	}
	.row{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
	}
	iframe{
		margin: 0 auto;
	}
	table{
		width: 336px;
	}
	td{
		display: block;;
	}
}

@media screen and (max-width: 850px){
	#index main{
		flex-direction: column;
	}
	
	figure{
		width: 400px;
	}
	
	.headerBG{
		clip-path: polygon(0% 0%, 0% 85%, 40% 85%, 50% 95%, 60% 85%, 100% 85%, 100% 0%, 60% 0%, 50% 10%, 40% 0%);
	}
	
	.contact{
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

@media screen and (max-width: 768px){	
	header h1{
		font-size: 50px;
		transition: font-size 2s;
	}
	
	nav:hover{
		height: 500px;
	}
	
	nav>ul{
		width: 100%;
		visibility: hidden;
		opacity: 0;
		flex-direction: column;
		justify-content: flex-start;
		margin: 0 auto;
		position: absolute;
	}
	
	nav ul li{
		width: 100%;
	}
	
	nav .fas{
		width: 30px;
		height: 30px;
		color: var(--light-color);
		font-size: 30px;
		margin: 15px;
		position: absolute;
		display: block;
		z-index: 1;
	}
	
	nav:hover>ul{
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s;
	}
	
	nav:hover .fas{
		display: none;
	}
	
	nav:hover+div {
		transition: margin-top 1s;
	}
	
	nav>ul>li, nav>ul>li>a, .dropdown{
		display: block;
	}
	
	footer div{
		height: 110px;
	}
	
	footer a{
		position: static;
		margin: 0 auto;
	}
	
	#mc_embed_signup input.email{
		width: 300px !important;
	}
	
	#mc_embed_signup .button{
		width: 150px !important;
	}
}

@media screen and (max-width: 550px){
	.content{
		width: 100vw;
	}
	
	.about-me{
		width: 100%;
	}
	
	.content img{
		height: 100%;
		width: 100%;
	}
	
	.headerBG{
		clip-path: polygon(0% 0%, 0% 85%, 37% 85%, 50% 95%, 63% 85%, 100% 85%, 100% 0%, 63% 0%, 50% 10%, 37% 0%);
	}
}

@media screen and (max-width: 460px){
	header h1{
		font-size: 30px;
		transition: font-size 2s;
	}
	
	figure{
		width: 340px;
	}
}

@media screen and (max-width: 400px){	
	figure{
		width: 300px;
	}
	
	.headerBG{
		clip-path: polygon(0% 0%, 0% 85%, 35% 85%, 50% 95%, 65% 85%, 100% 85%, 100% 0%, 65% 0%, 50% 10%, 35% 0%);
	}
}

@media screen and (max-width: 360px){
	header h1{
		font-size: 30px;
		transition: font-size 2s;
	}
	
	figure{
		width: 280px;
	}
}

@media screen and (max-width: 350px){
	#mc_embed_signup input.email{
		padding: 0;
	}
}
