/* Fonts */

/* CSS Variable */
:root {
	--text-color: rgb(220,220,220);
	--header-background: rgb(10,9,13);
}
/* container element */
.container-fluid{
	min-height: 100vh;
	padding-left: 0px;
	padding-right: 0px;
}
/* Head Element */
header .header{
	height: 72.2vh;
	background-image: url(../images/daniel-probst-ok2OISDAu3I-unsplash.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0% 0%,0% 89.75%, 46.35% 89.75%, 50% 100%, 53.64% 89.75%, 100% 89.75%, 100% 0%);
}
.header-top{
	height: 12.68vh;
	width: 100%;
	background-color: var(--header-background);
}
.header-top h1{
	padding-top: 0.7%;
	color: var(--text-color);
	text-align: center;
}
/* Nav Element */
.navbar{
	height: 11.63vh;
	display: flex;
	justify-content: center;

}
/* Nav text styling */

/* Text Styling */

/* Main Element */
.spam{
	height: 1000px;
	background-color: black;
}
/* Main Text styling */
figcaption{
	text-align: center;
}
/* Book Element */
figure{
	padding: 10px;
}
figure img{
	height: 100%;
	width: 100%;
}
main .container-fluid{
	padding: 3%;
}
/* Footer Element */

/* Footer Text styling */
footer .col{
	height: 10%;
	width: 100%;
	background-color: orange;
	text-align: center;
}